@import '../../../../styles/customMediaQueries.css';

.articleMain {
  /* 720px + (2 * 32px) == 784 */
  max-width: 784px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin: 0 auto;
  padding: 32px 24px;
}

@media (--viewportMedium) {
  .articleMain {
    gap: 32px;
    padding: 64px 32px;
  }
}

.noSidePaddings {
  padding-left: 0;
  padding-right: 0;
}
